/*///////////////////////// Estilos generales /////////////////////////*/
body, html{
	margin: 0;
	padding: 0;
	position: relative;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    color: #333;
}

h4{
	font-family: "Raleway", sans-serif;
	font-size: 18px;
}
.full-width{
    margin: 0;
    padding: 0;
    width: 100%;
}
.center-box{
    margin:0 auto;
}
.font-cover{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-color: #F5F5F5;
}

.section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.section-description {
  text-align: center;
  margin-bottom: 40px;
}

.section-title-divider {
  width: 50px;
  height: 3px;
  background: #26a69a;
  margin: 0 auto;
  margin-bottom: 20px;
}

.nicescroll-cursors{
		border: none !important;
}

.NavLateral,
.ContentPage{
    position: absolute;
    top: 0;
    height: 100%;
}

/*==================
 Navegación lateral
 ===================*/
#nav-lateral .NavLateral{
    left: 0;
    width: 20%;
}
#nav-lateral .NavLateral-content{
	height: 100%;
	position: fixed;
	z-index: 10;
	background-color: rgb(33,33,33);
	/* color: #C7C5C7; */
	width: 350px;
}

#nav-lateral .NavLateral-content:hover{
	overflow-y: auto;
}

#nav-lateral .NavLateral-title{
    height: 50px;
    line-height: 50px;
    color: #fff;
    /* background-color: rgb(233,76,61); */
    font-size: 30px;
		font-family: 'Fondamento', cursive;
}
#nav-lateral .NavLateral-title-btn{
    opacity: 0;
}
#nav-lateral .NavLateral-logo{
    padding: 20px 0;
    color: #fff;
    background-color: rgb(38,50,56);
}
#nav-lateral .NavLateral-logo img{
    width: 50%;
    height: auto;
    display: block;
    /* border-radius: 50%; */
    margin-bottom: 10px;
    /* border: 3px solid rgb(233,76,61); */
}
#nav-lateral .NavLateralDivider{
    height: 0 !important;
    width: 95% !important;
    background-color: transparent;
    border: none;
    border-top: 1px solid rgba(0,0,0,0.9);
    border-bottom:1px solid rgba(255,255,255,0.08);
    margin: 0 auto !important;
}
#nav-lateral .NavLateral-Nav ul li{
    height: auto;
    margin: 0;
    padding: 0;
}
#nav-lateral .NavLateral-Nav ul li a{
    height: 45px;
    line-height: 45px;
    width: 100%;
    font-size: 14px;
    padding-left: 9px;
    display: block;
    color: #C7C5C7;
    transition: all .3s ease-in-out;
}
#nav-lateral .NavLateral-Nav ul li a i{
    font-size: 18px;
}
#nav-lateral .NavLateral-Nav ul li a:hover{
    color: #FFF;
    background-color: rgb(45,45,45);
}
#nav-lateral .NavLateral-CaretDown{
    float: right;
    line-height: 45px;
    margin-right: 9px;
    font-size: 20px !important;
}
#nav-lateral .NavLateral-CaretDownRotate{
    transform: rotate(-180deg);
}
#nav-lateral .NavLateral-Nav > ul > li > ul{
    background-color: rgb(38,50,56);
    display: none;
}
#nav-lateral .NavLateral-Nav > ul > li > ul > li > a{
    padding-left: 19px;
}

#nav-lateral .social {
  margin-top: 10%;
	display: flex;
	justify-content: space-evenly;
}

#nav-lateral .social a {
  color: #b3b3b3;
}

#nav-lateral .social a:hover {
  color: #4dc64ee6;
}

#nav-lateral .social i {
  font-size: 18px;
  margin: 0 2px;
}

/*==================
 Main principal
 ===================*/
@media only screen and (min-width : 992px) {

	main{
		padding-left: 350px !important;
	}

	#main .nav-titulo-small{
    z-index: 1;
    font-size: 28px;
    background-color: #26a69a;
  }

	#main .btn-MobileMenu{
			pointer-events: none;
			opacity: 0;
	}

}

#main .ContentPage-Nav{
    height: 50px;
    background-color: rgb(33,33,33);
    position: relative;
}
#main .ContentPage-Nav ul{
    height: 50px;
    padding-right: 9px;
    position: relative;
}
#main .ContentPage-Nav ul li{
    height: 50px;
    float: right;
    min-width: 50px;
    color: #C7C5C7;
    position: relative;
    line-height: 50px;
}
#main .ContentPage-Nav ul li a{
    height: 50px;
    width: 50px;
    line-height: 50px;
    display: block;
    text-align: center;
    color: #C7C5C7;
    font-size: 25px;
    position: relative;
}
#main .ContentPage-Nav ul li a:hover{
    color: #FFF;
}
#main .ContentPage-Nav ul li a:active,
.ContentPage-Nav ul li a:focus{
    outline: none;
}
#main .ContentPage-Nav ul li figure{
    margin: 0;
    padding: 0 5px;
}
#main .ContentPage-Nav ul li figure img{
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

#main .btn-MobileMenu{
	float: left !important;
}

#main .nav-titulo-normal{
	font-size: 28px;
	z-index: 1;
	background-color: #26a69a;
}

#main .nav-wrapper{
	padding-left: 50px;
}

#main .scrollspy h4 {
    padding-left: 10px;
}

/* =======================
 Estilos Section Principal
 ========================== */

#principal {
	background-image: url(../assets/img/guayaquil.jpg);
	background-size: cover;
	background-position: center center;
	height: 700px;
}

#principal h3{
	color: white;
	font-size: 1.92rem;
	justify-content: left;
	display: flex;
	margin-top: auto;
	padding-top: 5%;
	padding-left: 5%;
}

#principal .button-principal{
	display: flex;
	justify-content: center;
	padding-top: 15%;
}

#principal a{
	background-color: #4dc64ee6;
	text-transform: uppercase;
	font-weight: 500;
	transition: 0.5s;
}

#principal a:hover{
    background: none;
    border: 2px solid #fff;
    color: #fff;
}

@media only screen and (min-width : 560px) {

	#principal h3{
		font-size: 3.92rem !important;
	}

}

/* =============
Nosotros Section
=================*/

#nosotros{
  padding: 80px 0 60px 0;
}

#nosotros .service-title {
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#nosotros p{
  text-align: justify;
}


/* ==============
Services Section
=================*/

#services {
  padding: 80px 0 60px 0;
}

#services .service-item {
  margin-bottom: 20px;
}

#services .service-item p{
  text-align: justify;
}

#services .service-icon {
  float: left;
  background: #26a69a;
  padding: 16px;
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid #26a69a;
}

#services .service-icon i {
  color: #fff;
  font-size: 24px;
}

#services .service-item:hover .service-icon {
  background: #fff;
}

#services .service-item:hover .service-icon i {
  color: #26a69a;
}

#services .service-title {
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#services .service-title a {
  color: #111;
}

#services .service-description {
  margin-left: 80px;
  line-height: 24px;
}

/*================
 Subscribe Section
 ==================*/

#subscribe {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/img/subscribe-bg.jpg) fixed center center;
  background-size: cover;
  padding: 120px 0;
}

/* ===============
Equipo Section
=================*/

#equipo {
  background: #f7f7f7;
  padding: 80px 0 60px 0;
}

#equipo .member {
  text-align: center;
  margin-bottom: 20px;
}

#equipo .member .pic {
  margin-bottom: 15px;
  overflow: hidden;
  height: 260px;
}

#equipo .member .pic img {
  max-width: 100%;
}

#equipo .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
}

#equipo .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

#equipo .member .social {
  margin-top: 15px;
}

#equipo .member .social a {
  color: #b3b3b3;
}

#equipo .member .social a:hover {
  color: #03C4EB;
}

#equipo .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

/* =============
Section Servicios
=================*/

h4.border-left-color{
  border-left: 2px solid #26a69a;
}

.servicios h4{
	font-size: 2.28rem;
	line-height: 110%;
	margin: 1.14rem 0 0.912rem 0;
}

.table-of-contents{
  position: fixed;
  top: 180px;
}
.table-of-contents a.active {
    font-weight: 500;
    padding-left: 18px;
    border-left: 2px solid #26a69a;
}

.table-of-contents a:hover{
	border-left: 1px solid #26a69a !important;
}

.background-especificaciones{
  background: #f5f2f0;
  border-radius: 2%;
}
.padding-left-45 {
    padding-left: 45px !important;
}

.servicios p{
	line-height: 2rem;
}

img.responsive-img{
	max-width: 100%;
	height: auto;
}

.servicios .flex-img{
	display: flex;
	justify-content: space-between;
}

.servicios .flex-img div{
	width: 200px;
}

.servicios .center-img div{
	display: flex;
	justify-content: center;
}

.servicios p{
	text-align: justify;
}

.servicios strong{
	font-weight: 600;
}

.servicios .ctl-antivirus p{
	text-align: center;
	line-height: 0;
}

.servicios .ctl-antivirus img{
	padding: 0 25%;
}

/*=================
 Pagina de Contacto
 ==================*/

#contacto {
  background: url("../assets/img/about-bg.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 60px 0 40px 0;
  position: relative;
	visibility: visible;
}

#contacto::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 9;
}

#contacto .container{
	position: relative;
  z-index: 10;
	padding: 5em 0;
	text-align: center;
}

#contacto .contact-info {
  margin-bottom: 20px;
  text-align: center;
}

#contacto .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #18d26e;
}

#contacto .contact-info address, #contact .contact-info p {
  margin-bottom: 0;
  color: #000;
}

#contacto .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}

#contacto .contact-info a {
  color: #000;
}

#contacto .contact-info a:hover {
  color: #18d26e;
}

#contacto .form #sendmessage {
  color: #03C4EB;
  border: 1px solid #03C4EB;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contacto .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contacto .form button[type="submit"] {
  background: #18d26e;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

#contacto .form button[type="submit"]:hover {
  background: #13a456;
}

/*===============
Footer de página
=================*/

#footer.footer{
    background-color: #263238;
    padding-top: 20px;
    /* margin-top: 20px; */
    color: #fff;
}
#footer .footer-copyright{
    height: 50px;
    /* line-height: 50px;
    font-weight: 300; */
}

#footer .serv-footer{
	margin-top: 80px
}

/*///////////////////////// MediaQueries /////////////////////////*/
@media (max-width: 767px){
    /*===Timeline*/
     ul.timeline:before {
        left: 40px;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }
    ul.timeline > li > .timeline-badge {
        top: 16px;
        left: 15px;
        margin-left: 0;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
    }
    ul.timeline > li > .timeline-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
    }
    ul.timeline > li > .timeline-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
    }
    /*===Generales*/
    .container-login{
        width: 300px;
    }
    .NavLateral{
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 1000;
        pointer-events: none;
        opacity: 0;
    }
    .NavLateral-title-btn{
        opacity: 1;
        cursor: pointer;
        line-height: 50px;
        height: 50px;
        width: 50px;
        font-size: 25px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .NavLateral-FontMenu{
        height: 100%;
        position: absolute;
        z-index: 7;
        background-color: rgba(0,0,0,0.5);
    }
    .NavLateral-content{
        width: 320px;
        position: absolute;
        z-index: 9;
        top: 0;
        left: 0;
    }
    .ContentPage{
        width: 100%;
    }
    .ContentPage-Nav ul li{
        min-width: 40px;
    }
    .ContentPage-Nav ul li a{
        width: 40px;
    }
    .btn-MobileMenu{
        pointer-events: auto;
        opacity: 1;
    }
    .Show-menu{
        pointer-events: auto !important;
        opacity: 1 !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .NavLateral{
        width: 30%;
    }
    .ContentPage{
        width: 70%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .NavLateral{
        width: 25%;
    }
    .ContentPage{
        width: 75%;
    }
}

@media (min-width: 1200px) {

}
